.container{
    text-align: center;
    margin-top:23px
}
 
table{
    margin: auto;
}
 
input{
    border-radius: 21px;
    font-size:34px;
    height: 65px;
    width: 260px;
    scroll-behavior:inherit;
}
 
button{
    border-radius: 30px;
    font-size: 22px;
    background: #ffffff;
    width: 60px;
    height: 50px;
    margin: 6px;
}
 
.calculator{
    background-color: #802f2f;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
   
}